{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Success{% endblock %}
{% block body_block %}

    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
            <div class="container"><a class="navbar-brand" href="{% url 'coinsync:landing' %}">
                <strong class="h5 mb-0 fw-bolder text-uppercase text-monospace">€oin$ync</strong></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item fw-bolder"><a class="nav-link" href="{%  url 'coinsync:index' %}">Cryptocurrency </a></li>
                        <li class="nav-item dropdown fw-bolder">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Conversions
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'coinsync:conversions' type='Crypto' %}">Crypto</a></li>
                            <li><a class="dropdown-item" href="{% url 'coinsync:conversions' type='Currency' %}">Currencies</a></li>
                          </ul>
                        </li>
                        {% if is_user_authenticated %}
                        <li class="nav-item fw-bolder"><a class="nav-link " href="{% url 'coinsync:dashboard' %}">My Portfolio</a></li>
                        {% else %}
                            <li class="nav-item fw-bolder"><a class="nav-link " href="{% url 'coinsync:landing' %}">My Portfolio</a></li>
                        {% endif %}
                        <li class="nav-item fw-bolder"><a class="nav-link" href="#">Contact Us </a></li>
                    </ul>
                </div>
                {% if is_user_authenticated %}
                <a class="link-dark link-offset-3 link-underline-opacity-25 link-underline-opacity-100-hover fw-bolder" href="{% url 'coinsync:crypto_request' %}">Get listed </a>
                {% endif %}
                <div class="position-relative shadow-sm bg-white rounded mx-3">
                    <span class="position-absolute search"><i class="fa fa-search"></i></span>
                    <input id="myInput" class="form-control " placeholder="Search">
                </div>
                {% if not is_user_authenticated %}
                <a href="{% url 'coinsync:login' %}"> <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Login/Signup</button></a>
                {% else %}
                    <a href="{% url 'coinsync:logout' %}"> <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logout</button></a>
                {% endif %}

            </div>
        </nav>
    </header>
    <div class="container text-center p-2 mt-5 bg-white">
        <h2>{{  message  }}</h2>
    </div>

{% endblock %}